/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */
.header{   
  width: 100%;
  border-top: 2px solid #c71419;
  border-bottom: 2px solid #c71419;
  background-color: #e0e8ef;
}
.header__body{ 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo img{
  display: flex;
  max-width: 180px;
  height: auto;
}
.header__contact ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__contact ul li{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header__contact ul li:not(:first-child) {
  margin-left: 20px ;
}
.header__contact ul li a{
  margin-left: 10px;
  text-decoration: none;
  color: #c71419;
  font-weight: bold;
}
.header__contact ul li i {
  color: #585252;
}
/* Main */
/* Info */
.section__info{ 
  background-color: #f7f6f9;
  border-top: 2px solid #c71419;
  border-bottom: 2px solid #c71419;
  padding: 0 5px;
}
.section__info  h1{
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  color: #585252;
  text-align: center;
}
.section__info  h1 span{
  color: #c71419;
}
.section__info  p{
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  color: #585252;
  text-align: center;
}
.section__info .info p{
  padding: 0;
}
.section__info  p span{
  color: #c71419;
}
.section__info .info{
  display: flex;
  justify-content: space-between;
}
.section__info .info .left, .right{
  padding: 20px; 
  background-color: #e0e8ef;
  box-shadow: 0 13px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow linear 0.2s;
}
.section__info .wrapper{
  width: 500px;  
}
.section__info .info .left:hover, .right:hover{
  box-shadow: 0 13px 30px rgba(0, 0, 0, 0.6);
}
.section__info  .info p{
  line-height: 1.2;
  text-align: justify;
  font-weight: bold;   
  font-size: 18px;
  color: #585252; 
}
.section__info .info p span{
  color: #c71419;
}
/* Map Address */
.section__map__address{
  border-bottom:2px solid #585252;
}
.section__map__address h1{
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.section__map__address a {
  text-decoration: none;
  color: #585252;
}
.section__map__address a span{
  text-decoration: none;
  color: #c71419;
}

/* Map */
.section__map iframe{
  width: 100%;
  height: 400px;
}

/* Counter */
.section__counterup{ 
  padding: 25px 0;
  background-color: #f7f6f9;
  border-top: 2px solid #585252;
}
.section__counterup .counter__wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section__counterup .single-counter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__counterup .single-counter .counter{
  color: #c71419;
  font-weight: bold;
  font-size: 23px;
  padding: 5px 0;
}
.section__counterup .single-counter p{
  color: #585252;
  font-weight: bold;
  font-size: 20px;
}

/* Footer */
.footer{
  background-color: #e0e8ef;
  border-top: 2px solid #c71419;
  border-bottom: 2px solid #c71419;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.footer h2{
  font-weight: bold;   
  font-size: 18px;
  color: #585252; 
  padding-bottom: 10px;
}
.footer h2 span{
  color: #c71419;
}
.footer ul {
  display: flex;
}
.footer  ul li{
  padding-right: 10px;  
  font-size: 18px;
  font-weight: bold;
  color: #585252;
}
.footer  ul li:last-child{
  padding-right: 0;
}
.footer ul li span{
  color: #c71419;
  text-transform: uppercase;
}

/* Media requests */
@media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
    /* Main */
    .section__info .wrapper{
      width: 400px;  
    }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    }         
    /* Header */
    .header__contact ul li{
      font-size: 17px;
    }
    /* Main */
    .section__info .wrapper{
      width: 300px;  
    }
    .section__counterup .single-counter .counter{
      font-size: 23px;
    }
    .section__counterup .single-counter p{
      font-size: 17px;
    }
    /* Footer */
    .footer h2{
      font-size: 17px;
    }
    .footer  ul li{
      font-size: 17px;
    }   
    
  }

  @media (max-width: 767px) {
    .container {
      max-width: none;
    } 
    /* Header */
    .header__body{
      position: relative;
    }
    .header__contact ul{
      flex-direction: column;
      align-items: flex-start;
    }
    .header__contact ul li:first-child {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(0 , -50%);
    }
    .header__contact ul li:not(:first-child) {
      margin-left: 0 ;
    }
    .header__contact ul li:last-child{
      margin-top: 3px;
    }
    /* Main */
    .section__info .info{
      flex-direction: column;
    }    
    .section__info  .info .left,.right{
      margin-bottom: 20px;
    }
    .section__info h1 {
      font-size: 17px;
    }    
    .section__info p{
      font-size: 17px;
      padding: 10px  0  30px 0;
    }
    .section__info .info p {
      font-size: 15px;
    }    
    .section__info .wrapper{
      width: 100%;  
    }
    .section__counterup .single-counter .counter{
      font-size: 20px;
    }
    .section__counterup .single-counter p{
      font-size: 17px;
    }
    .section__map__address h1 {
      font-size: 17px;
      padding: 20px 0;
    }
    /* Footer */
    .footer  ul li{
      font-size: 16px;
    }   
}
    
  @media (max-width: 575px) {
    .container{
        padding:0 5px ;
    }  
    /* Header */
    .header__body {
      height: 70px;
    }
    .header__contact ul li:first-child {
      position: static;
      transform: translate(0);
      margin-bottom: 10px;
    }
    .header__contact ul li:last-child{
      display: none;
    }
    /* Main */   
    .section__info p{
      font-size: 17px;
      padding: 0 0 20px 0;
    } 
    .section__info h1 {
      padding: 20px 0;
    }
    .section__counterup{ 
      padding: 15px 0;
    }
    .section__counterup .counter__wrapper{
      flex-direction: column;
      line-height: 0.8;
    }
    .section__counterup .single-counter:not(:last-child){
      padding-bottom: 30px;
    }
    .section__counterup .single-counter .counter{
      font-size: 21px;
    }
    /* Footer */
    .footer .wrapper{
      padding: 10px 0;
    }
    .footer h2{
      font-size: 15px;
    }   
    .footer ul {
     flex-direction: column;
     align-items: flex-start;
    }    
    .footer ul li {
      padding-right: 0;
      padding-bottom: 5px;
      font-size: 15px;
    }
    .footer ul li:first-child{
      align-self: center;
      color: #c71419;
      padding-bottom: 10px;  
      text-transform: uppercase;    
    }
    .footer ul li:last-child{
      padding-bottom: 0;
    }
    


  @media (max-width: 370px) {
    /* Header */
    .header__body {
      height: 120px;
      flex-direction: column;
      justify-content: space-around;
    }
  }